<div itemscope itemtype="https://schema.org/Person" class="h-card custom-author-profile">
  {% if author.avatar %}
    <div class="custom-author__avatar">
      <a href="{{ author.home | default: '/' | absolute_url }}">
        <a href="{{ author.avatar | relative_url }}" target="_blank">
          <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" class="author-profile__image">
        </a>
      </a>
    </div>
  {% endif %}

  <div class="custom-author__content">
    <h3 class="custom-author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="custom-author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="custom-author__urls-wrapper">
    <ul class="custom-author__urls social-icons">
      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
